 <!-- Load site level scripts -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js}"></script> -->

<script type="text/javascript" th:src="@{/resources/admin/assets/js/jquery-1.10.2.min.js}"></script> 							<!-- Load jQuery -->
<script type="text/javascript" th:src="@{/resources/admin/assets/js/jqueryui-1.9.2.min.js}"></script> 							<!-- Load jQueryUI -->

<script type="text/javascript" th:src="@{/resources/admin/assets/js/bootstrap.min.js}"></script> 								<!-- Load Bootstrap -->


<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/easypiechart/jquery.easypiechart.js}"></script> 		<!-- EasyPieChart-->
<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/sparklines/jquery.sparklines.min.js}"></script>  		<!-- Sparkline -->
<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/jstree/dist/jstree.min.js}"></script>  				<!-- jsTree -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/codeprettifier/prettify.js}"></script> 				<!-- Code Prettifier  -->
<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/bootstrap-switch/bootstrap-switch.js}"></script> 		<!-- Swith/Toggle Button -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js}"></script>  <!-- Bootstrap Tabdrop -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/iCheck/icheck.min.js}"></script>     					<!-- iCheck -->

<script type="text/javascript" th:src="@{/resources/admin/assets/js/enquire.min.js}"></script> 									<!-- Enquire for Responsiveness -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/bootbox/bootbox.js}"></script>							<!-- Bootbox -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/simpleWeather/jquery.simpleWeather.min.js}"></script> <!-- Weather plugin-->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js}"></script> <!-- nano scroller -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/jquery-mousewheel/jquery.mousewheel.min.js}"></script> 	<!-- Mousewheel support needed for jScrollPane -->

<script type="text/javascript" th:src="@{/resources/admin/assets/js/application.js}"></script>
<script type="text/javascript" th:src="@{/resources/admin/assets/demo/demo.js}"></script>
<script type="text/javascript" th:src="@{/resources/admin/assets/demo/demo-switcher.js}"></script>

<!-- End loading site level scripts -->
    
    <!-- Load page level scripts-->
    
<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/fullcalendar/fullcalendar.min.js}"></script>   				<!-- FullCalendar -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/wijets/wijets.js}"></script>     								<!-- Wijet -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/charts-chartistjs/chartist.min.js}"></script>               	<!-- Chartist -->
<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/charts-chartistjs/chartist-plugin-tooltip.js}"></script>    	<!-- Chartist -->

<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/form-daterangepicker/moment.min.js}"></script>              	<!-- Moment.js} for Date Range Picker -->
<script type="text/javascript" th:src="@{/resources/admin/assets/plugins/form-daterangepicker/daterangepicker.js}"></script>     				<!-- Date Range Picker -->

<script type="text/javascript" th:src="@{/resources/admin/assets/demo/demo-index.js}"></script> 										<!-- Initialize scripts for this page-->

    <!-- End loading page level scripts-->