<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<title th:text="#{dashboard}">Dashboard</title>
</head>
<body class="infobar-offcanvas">

<div layout:fragment="content">

<div class="static-content-wrapper">
       <div class="static-content">
           <div class="page-content">
               <ol class="breadcrumb"> 
				<li class="active"><a th:text="#{dashboard}" href="index.html">Dashboard</a></li>
               </ol>
               <div class="page-heading">            
                   <h1 th:text="#{dashboard}">Dashboard</h1>
                   <div class="options">
			    <div class="btn-toolbar">
			        <a href="#" class="btn btn-default"><i class="fa fa-fw fa-wrench"></i></a>
			    </div>
		</div>
</div>
<div class="container" >
	<div data-widget-group="group1" class="ui-sortable">
		<div style="float:left;margin-left:20px;text-align:center;width:300px;height:150px;border:1px green solid;line-height:150px;">
			Total User:
		</div>
		<div style="float:left;left;margin-left:20px;text-align:center;width:300px;height:150px;border:1px red solid;line-height:150px;">
			Total User:
		</div>
		<div style="float:left;left;margin-left:20px;text-align:center;width:300px;height:150px;border:1px blue solid;line-height:150px;">
			Total User:
		</div>
	</div>
 
</div>
</body>
</html>