<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<title>User Create Update</title>
</head>
<body class="infobar-offcanvas">
<div layout:fragment="content">

<div class="container-fluid">
                 
<div>
	<h3>Update User</h3>
</div>               
<div class="row">
    <div class="col-xs-12">
	    

        <div class="panel panel-midnightblue">
            <div class="panel-heading"><h2>Update</h2></div>
            <div class="panel-body">

                <form class="form-horizontal row-border" id="validate-form" data-parsley-validate="" novalidate="">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">User Hash</label>
                        <div class="col-sm-6">
                            <input type="text"  required="" class="form-control" data-parsley-id="2887"><span class="help-block" id="parsley-id-2887"></span>
                        </div>
                    </div>
					<div class="form-group">
					    <label th:text="#{userName}" class="col-sm-3 control-label">User Name</label>
					    <div class="col-sm-6">
					        <input type="text" data-parsley-minlength="6" required="" class="form-control" data-parsley-id="5984"><span class="help-block" id="parsley-id-5984"></span>
					    </div>
					</div>
					<div class="form-group">
					    <label th:text="#{gender}" class="col-sm-3 control-label">Gender</label>
					    <div class="col-sm-6">
					        <select style="width:100px;height:30px;">
					        	<option th:text="#{boy}">Male</option>
					        	<option th:text="#{girl}">Female</option>
					        </select>
					    </div>
					</div>
					<div class="form-group">
					    <label th:text="#{phone}" class="col-sm-3 control-label">Phone</label>
					    <div class="col-sm-6">
					        <input type="text" data-parsley-range="[5,10]"  required="" class="form-control" data-parsley-id="3578"><span class="help-block" id="parsley-id-3578"></span>
					    </div>
					</div>
					<div class="form-group">
					    <label th:text="#{email}" class="col-sm-3 control-label">Email</label>
					    <div class="col-sm-6">
					        <input type="text" data-parsley-pattern="#[A-Fa-f0-9]{6}"  required="" class="form-control" data-parsley-id="9660"><span class="help-block" id="parsley-id-9660"></span>
					    </div>
					</div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                	<button class="btn btn-default col-sm-6">Update Save</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
	            </div>
	        </div>
	    </div>
	</div>
</div>                  
</div>
</body>
</html>