<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<title th:text="#{user_detail}">User Detail</title>
</head>
<body class="infobar-offcanvas">

<div layout:fragment="content">
    
<div>
	<h3 style="padding-left:30px;" th:text="#{user_detail}">User Detail</h3>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 th:text="#{user}">User</h2>
				<div class="panel-ctrls">
				<div id="example_filter" class="dataTables_filter pull-right">
				<label class="panel-ctrls-center">
				<input type="search" class="form-control" placeholder="Search..." aria-controls="example">
				</label></div><i class="separator"></i><div class="dataTables_length pull-left" id="example_length">
				<label class="panel-ctrls-center"></label></div></div>
			</div>
			<div class="panel-body panel-no-padding">
					
				<hr/>
				<ul style="line-height:20px;">
					<li th:inline="text">Name: [[${UDETAIL.username}]]</li>
					<li th:inline="text">Gender: [[${UDETAIL.gender}]]</li>
					<li th:inline="text">Phone: [[${UDETAIL.phonenumber}]]</li>
					<li th:inline="text">Email: [[${UDETAIL.email}]]</li>
				</ul>
			</div>
			
		</div>
				
     </div> <!-- .container-fluid -->
 </div> <!-- #page-content -->
</div>
<footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
            <li><h6 style="margin: 0;"> © 2015 Avenger</h6></li>
        </ul>
        <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
    </div>
</footer>
 </body>
 </html>