<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
	  layout:decorator="/admin/admin-layout">
<head>
<title th:text="#{user_list}">User list</title>
</head>
<body class="infobar-offcanvas">

<div layout:fragment="content">
    
<div>
	<h3 style="padding-left:30px;" th:text="#{user_list}">User List</h3>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 th:text="#{all_user}">All User</h2>
				<div class="panel-ctrls">
				<div id="example_filter" class="dataTables_filter pull-right">
				<label class="panel-ctrls-center">
				<input type="search" class="form-control" placeholder="Search..." aria-controls="example">
				</label></div><i class="separator"></i><div class="dataTables_length pull-left" id="example_length">
				<label class="panel-ctrls-center"></label></div></div>
			</div>
			<div class="panel-body panel-no-padding">
					
					<table class="table table-bordered">
					    <thead>
					      <tr>
					        <th th:text="#{userID}">User ID</th>
					        <th th:text="#{userName}">User Name</th>
					        <th th:text="#{email}">Email</th>
					        <th th:text="#{gender}">Gender</th>
					        <th th:text="#{phone}">Phone</th>
					        <th th:text="#{status}">Status</th>
					        <th th:text="#{action}">Action</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr th:each="user:${USER}">
						        <td th:text="${user.id}">1</td>
						        <td th:text="${user.username}">kimly</td>
						        <td th:text="${user.email}">john@example.com</td>
						        <td th:text="${user.gender}">M</td>
						        <td th:text="${user.phonenumber}">093 550164</td>
						        <td th:text="${user.status}">single</td>
						        <td>
						        		<a class="btn btn-danger" th:href="@{/remove-user/{user_hash}(user_hash=${user.user_hash})}">
						        			Delete
						        		</a>
						        	<button class="btn btn-primary">Update</button>
						        	<a class="btn btn-default" th:href="@{/user-detail/{userhash}(userhash=${user.user_hash})}">
						        		Detail
						        	</a>
						        	
						        </td>
					      </tr>
					      
					    </tbody>
					  </table>
					  
					  
					</div>
					
				</div>
				
     </div> <!-- .container-fluid -->
 </div> <!-- #page-content -->
</div>
<footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
            <li><h6 style="margin: 0;"> © 2015 Avenger</h6></li>
        </ul>
        <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
    </div>
</footer>
 </body>
 </html>